<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asu.edu.televisionandroid" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".patientIDActivity"
            android:label="@string/title_activity_patient_id" >
        </activity>
        <activity
            android:name=".survey.SurveyActivity"
            android:label="@string/title_activity_survey" >
        </activity>
        <activity
            android:name=".survey.SurveyReviewActivity"
            android:label="@string/title_activity_survey_review" >
        </activity>
        <activity
            android:name=".ImagePickerActivity"
            android:label="@string/title_activity_image_picker" >
        </activity>
        <activity
            android:name=".SubmitActivity"
            android:label="@string/title_activity_submit" >
        </activity>
        <activity
            android:name=".ChoiceActivity"
            android:label="@string/title_activity_choice" >
        </activity>
        <activity
            android:name=".VideoCaptureActivity"
            android:label="@string/title_activity_video_capture" >
        </activity>
        <activity
            android:name=".ImagePickerActivity2"
            android:label="@string/title_activity_image_picker_activity2" >
        </activity>
        <activity
            android:name=".survey.PDFGenerationActivity"
            android:label="@string/title_activity_PDFGenerationActivity" >
        </activity>
        <activity
            android:name=".survey.PDFGenerationActivity2"
            android:label="@string/title_activity_PDFGenerationActivity2" >
        </activity>
    </application>

</manifest>
